$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

@keyframes backInUp {
  0% {
    transform: translate3d(0, 8rem, 0) scaleX(0);
    visibility: visible;
  }

  70% {
    transform: translate3d(0, -0.5rem, 0) scaleX(1);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}
