@font-face {
  font-family: "TradeGothic";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/tg-regular.otf") format("opentype");
  font-display: block;
}

@font-face {
  font-family: "TradeGothic";
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/tg-bold.ttf") format("truetype");
  font-display: block;
}
